@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@keyframes moveUnderline {
    0% {
        transform-origin: left;
        transform: scaleX(0);
    }
    50% {
        transform-origin: left;
        transform: scaleX(0.5);
    }
    100% {
        transform-origin: right;
        transform: scaleX(0);
    }
}

@keyframes moveUnderlineInvert {
    0% {
        transform-origin: right;
        transform: scaleX(0);
    }
    50% {
        transform-origin: right;
        transform: scaleX(0.5);
    }
    100% {
        transform-origin: left;
        transform: scaleX(0);
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


nav {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 100px;
    padding: 10px;
    margin: 0;
    position: sticky;
    top: 0;
    background: white;
    z-index: 4;

    img {
        height: 100px;
    }

    ul {
        display: flex;
        li {
            list-style-type: none;
            margin-left: 15px;
            margin-top: 20px;
        }
    }

    a {
        color: black;
        text-decoration: none;
        &:hover {
            color: red;
        }
    }
}

@media screen and (max-width: 768px) {
    nav {
        height: 75px; 
        position: static; 
        ul {
            display: none;
        }
        img {
            height: 70px;
        }
    }
}

.banner {
    height: 400px;
    background: url(../img/geeks-2894621.jpg) center/cover fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media screen and (max-width: 768px) {
        h1 {
            font-size: 1.5rem;
        }
    }

    h1 {
        color: rgb(252, 252, 252);
        font-size: 2rem;
        text-shadow: 6px -4px 0 #f6cece21;
        margin-right: 2%;

        &.underline-animation {
            position: relative;
            display: inline-block;
        }
        
        &.underline-animation::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 2px;
            background-color: white;
            transform-origin: left;
            animation: moveUnderline 2s infinite;
        }
    }

    img {
        height: 250px;
        width: 250px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 5%;
        margin-top: 70px;
    }
}

.titlecontainer {
    text-align: center;
    width: 100%;
    h2 {
        color: black(252, 252, 252);
        font-size: 1.5rem;
        text-shadow: 6px -4px 0 #f6cece21;
        margin-right: 2%;

        &.underline-animation {
            position: relative;
            display: inline-block;
        }
        
        &.underline-animation::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 2px;
            background-color: black;
            transform-origin: left;
            animation: moveUnderline 2s infinite;
        }
        &.underline-animation-invert {
            position: relative;
            display: inline-block;
        }
        
        &.underline-animation-invert::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 2px;
            background-color: black;
            transform-origin: left;
            animation: moveUnderlineInvert 2s infinite;
        }
        &.underline-animation-white {
            position: relative;
            display: inline-block;
        }
        
        &.underline-animation-white::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 2px;
            background-color: white;
            transform-origin: left;
            animation: moveUnderlineInvert 2s infinite;
        }
    }
}


.about {
    margin: 20px 20px 40px 20px;
    h2 {
        margin-bottom: 40px;
        text-align: center;
        z-index: 5;
    }
    img {
        height: 150px;
        width: 150px;
        border-radius: 100%;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }
    #aboutname {
        text-align: center;
        #spanname {
            font-size: larger;
            color: black;
        }
        #spanage {
            color: rgb(87, 87, 87);
            font-size: small;
        }
    }
    p {
        width: 60%;
        text-align: center;
        margin: 20px auto;
        color: #767676;
    }
}

.competences {
    background: url(../img/dirty-1041382.jpg) center/cover;

    h2 {
        text-align: center;
        padding-top: 20px;
        margin-bottom: 50px;
        z-index: 5;
    }
    .competences-details {
        display: flex;
        justify-content: space-around;
        
        img {
            height: 30px;
        }
    }

    .compfront {
        position: relative;
        overflow: hidden;
        text-align: center;
        border-radius: 10px;
        padding: 10px;
    }
    
    .compfront::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 165, 0, 0);
        transition: background-color 0.3s ease;
        pointer-events: none;
        z-index: 1;
    }
    
    .compfront:hover::before {
        background-color: rgba(255, 165, 0, 0.3);
    }
    
    .compfront img,
    .compfront h3 {
        position: relative;
        z-index: 2;
    }
    

    .compback {
        position: relative;
        overflow: hidden;
        text-align: center;
        border-radius: 10px;
        padding: 10px;
    }
    
    .compback::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 153 255 / 0);
        transition: background-color 0.3s ease;
        pointer-events: none;
        z-index: 1;
    }
    
    .compback:hover::before {
        background-color: rgb(0 153 255 / 23%);
    }
    
    .compback img,
    .compback h3 {
        position: relative;
        z-index: 2;
    }

    .outils {
        position: relative;
        overflow: hidden;
        text-align: center;
        border-radius: 10px;
        padding: 10px;
    }
    
    .outils::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(255 0 0 / 0);
        transition: background-color 0.3s ease;
        pointer-events: none;
        z-index: 1;
    }
    
    .outils:hover::before {
        background-color: rgb(255 0 0 / 29%);
    }
    
    .outils img,
    .outils h3 {
        position: relative;
        z-index: 2;
    }
}

.mestravaux{
    margin: 20px;

    h2 {
        text-align: center;
        margin-bottom: 50px;
        z-index: 5;
    }

    .containertravauxfullscreen {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
    
        .travauximg {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 80%;
            }
        }

        .travauxtext {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            span {
                display: inline-block;
                padding: 4px 8px;
                margin: 0 4px;
                border: 2px solid #ccc;
                border-radius: 20px;
            }
            p{
                width: 80%;
            }
        }
    }
}

.contact {
    background: url(../img/geeks-2894621.jpg) center/cover;
    height: 250px;
    h2 {
        text-align: center;
        z-index: 5;
        color: white;
        margin-top: 40px;
    }
    .coordonnées {
        color: white;
        font-size: 1.2rem;
        text-align: end;
        margin-right: 20px;
        a {
            color: white
        }
    }
    .conclusion {
        color: white;
        margin: 40px;
    }
    @media screen and (max-width: 768px) {
        .coordonnées {
            margin-top: 40px;
        }
        .conclusion {
            display: none;
        }
    }
}


